<%= turbo_frame_tag "side_panel_contents" do %>
  <div class="card" data-controller="card">
    <%= form_with model: @expense do |form| %>
      <header class="card-header">
        <p class="card-header-title">Edit Transaction</p>
        <a href="#" class="card-header-icon">
          <span class="icon">
            <i class="fa-solid fa-xmark fa-lg has-text-link"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <%= form.bulma_form_element :number_field, :dollar_amount_paid, step: 0.01, min: 0, icon_left: "fa-solid fa-dollar-sign" %>
          <%= form.fields_for :person_expenses do |subform| %>
            <div class="field">
              <% if subform.object.person == @current_user %>
                <%= subform.label :dollar_amount, "Your Contribution", class: "label" %>
              <% else %>
                <%= subform.label :dollar_amount, subform.object.person.name + "'s Contribution", class: "label" %>
              <% end %>
              <div class="control has-icons-left">
                <%= subform.number_field :dollar_amount, step: 0.01, icon_left: "fa-solid fa-dollar-sign", class: @expense.errors[:person_expenses].present? ? "input is-danger" : "input" %>
                <span class="icon is-small is-left"><i class="fa-solid fa-dollar-sign" aria-hidden="true"></i></span>
              </div>
              <% if @expense.errors[:person_expenses] %>
                <% @expense.errors[:person_expenses].each do |error| %>
                  <p class="help is-danger">
                    <%= error %>
                  </p>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <%= form.bulma_form_element :date_field, :date %>
          <%= form.bulma_form_element :text_field, :payee %>
          <%= form.bulma_form_element :text_field, :memo %>
        </div>
      </div>
      <footer class="card-footer buttons has-addons">
        <%= form.submit "Update", class: "card-footer-item button is-link" %>
        <%= link_to "Delete",
          expense_path(@expense),
          class: "card-footer-item has-text-danger",
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete this transaction?"
          }
        %>
        <a href="#" class="card-footer-item">Cancel</a>
      </footer>
    <% end %>
  </div>
<% end %>