<%= link_to edit_expense_path(person_expense),
    id: dom_id(person_expense),
    class: "person-expense grid is-gap-0",
    "data-turbo-frame": "side_panel_contents",
    "data-action": "click->action-bar#enableNewTransaction" do
%>

    <div class="cell expense-date is-hidden-mobile">
        <%= person_expense.expense.date %>
    </div>
    <div class="cell expense-payee">
        <%= person_expense.expense.payee %>
    </div>
    <div class="cell expense-memo is-row-start-2-mobile">
        <%= person_expense.expense.memo %>
    </div>
    <div class="cell expense-dollar-amount-paid is-col-span-2-mobile has-text-right">
        <%= number_to_currency(person_expense.expense.dollar_amount_paid) %>
    </div>
    <div class="cell person-expense-dollar-amount is-col-span-2 has-text-right">
        <%= number_to_currency(person_expense.dollar_amount.abs) %> owed 
        <%= person_expense.amount < 0 ? "to" : "by" %> 
        <%= person_expense.other_person.name %>
    </div>
    <div class="cell person-expense-dollar-cumulative-sum has-text-right is-hidden-mobile">
        <%= number_to_currency(person_expense.dollar_cumulative_sum) %>
    </div>
<% end %>