<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Splitwise Replacement" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to 'Home', root_url, class: 'navbar-item' %>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link_to 'User Management', people_path, class: 'navbar-item' if @current_user.present? and @current_user.is_administrator? %>
          </div>
          <div class="navbar-end">
            <% if @current_user %>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <%= @current_user.name %>
                </a>
                <div class="navbar-dropdown">
                  <%= button_to 'Logout', login_path, method: 'delete', class: 'navbar-item' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <div class="notification is-<%= type %> container" data-turbo-temporary>
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <section class="section container">
      <%= yield %>
    </section>
  </body>
</html>
